* {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;    
}
html {
    padding: 0;
    margin: 0;
}

body {
    padding: 4px;
    margin: 0;
}

.page-container {
    height: 100%;
    width: 100%;
}

.picks-container {
    margin: 8px;
}

.letter {
    text-decoration: underline;
    margin: 4px 4px;
    font-size: 40px;
}

.noLetter {
    margin: 4px 4px;
    font-size: 40px;
}

.userInputs {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    text-align: center;
}

.displayed {
    text-align: center;
}

.chips {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    box-sizing: border-box;
    text-align: center;
}

.diag {
    padding: 32px;
    width: 400px;
}

.authors {
    list-style: none;
    margin: 8px auto;
    padding: 0;
}


.center {
    text-align: center;
}