html {
    padding: 0;
    margin: 0;
}

body {
    padding: 4px;
    margin: 0;
}

.page-container {
    height: 100%;
    width: 100%;
}

.picks-container {
    margin: 8px;
}

.letter {
    text-decoration: underline;
    margin: 4px 4px;
    font-size: 40px;
}

.noLetter {
    margin: 4px 4px;
    font-size: 40px;
}
